/* See LICENSE file for copyright and license details. */
/* Managed by the `slstatus` Ansible role. */

/* interval between updates (in ms) */
const unsigned int interval = 1000;

/* text to show if no value can be retrieved */
static const char unknown_str[] = "n/a";

/* maximum output string length */
#define MAXLEN 2048

static const struct arg args[] = {
	/* function        format               argument */
	{ run_command, " %s |", "netstatus" },
{% if slstatus_battery %}
	{ battery_perc, "   %s%% |", "{{ slstatus_battery }}" },
{% endif %}
	{ datetime, " %s ", "%a %d %b %H:%M" },
};
